body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('image/1.JPG') center/cover;
    color: #fff;
    text-align: center;
    padding: 2em;
    position: relative;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

header p {
    font-size: 1.2em;
}

nav {
    background-color: #0b2130;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    transition: color 0.3s;
}

nav a:hover {
    color: #ecf0f1;
}

section {
    padding: 40px;
    text-align: center;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;
}

.product {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.gallery-img {
    width: 30%;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background-color: #dfe5eb;
    color: #fff;
    text-align: center;
    padding: 1em;
}
